<%= provide(:title, "Login") %>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Log In</h5>
                    <%= form_for(:session, url: login_path, html: {class: "form-signin"}) do |f|%>
                        <div class="form-label-group">
                            <%= f.email_field :email, class: "form-control", required: true, placeholder: "Email"%>
                            <%= f.label :email %>
                        </div>
    
                        <div class="form-label-group">
                            <%= f.password_field :password, class: "form-control", id: "password", required: true %>
                            <%= f.label :password %>
                        </div>

                        <div class="form-label-group">
                            <span class="custom-control custom-checkbox mr-sm-2" id="check_box">
                                <%= f.check_box :remember_me, class: "custom-control-input", id: "customControlAutosizing" %>
                                <%= f.label :remember_me, class: "custom-control-label", for: "customControlAutosizing" %>
                            </span>
                        </div>
                        
                        <%= f.submit "Log In", class: "btn btn-lg btn-info btn-block text-uppercase" %>    
                    <% end %>  
                    <hr class="my-4">
                    <center>Dont have an Account? <%= link_to "Sign Up now!", signup_path, class: "text-center" %><center>
                </div>
            </div>
        </div>
    </div>
</div>