<%= provide(:title, "Lesson") %>
<br>
<div class="row justify-content-center">
    <div class="col-8">
        <h2 class="text-center"><%= @category.title %></h2>
        <%= render 'shared/error_answer' %>
        <%= form_for([@category, @lesson]) do |f| %>
            <%= f.fields_for :answers do |p| %> 
            <div class="card">
                <div class="card-header text-success">
                    <h4 class="text-center"><%= p.object.word.content %></h4>
                </div>
                <div class="card-body ">
                    <ul class="list-unstyled text-center">
                        <fieldset id="<%= p.object.word.id %>" >
                            <% p.object.word.choices.each do |choice| %>
                                <li class="mt-3">
                                    <%= p.hidden_field :word_id%>
                                    <div class="radio-toolbar">
                                        <%= p.radio_button :choice_id, choice.id, id: "#{choice.id}"%>
                                        <%= p.label choice.content, for: choice.id %>
                                    </div>
                                </li>
                            <% end %>
                        </fieldset>
                    <ul>
                </div>
            </div>
            <% end %>
        <%= f.submit "Submit Answers", class: "btn btn-success btn-block btn-lg", id:"submit",disabled: true %>
        <% end %>
    </div>                           
</div>
<script>
$('fieldset input:radio').on('change', function() {
    var msg = "";
    $('fieldset').each(function(index,item){
        list = $(":radio:checked", $(this)).length;
        if(list==0)
        {
            msg = (msg=="") ? $(this).attr('id'):msg+", "+$(this).attr('id');
            console.log(msg);
        }
    });
    if(msg==""){
        $('#submit').prop('disabled',false);
    }
});
</script>