<%= provide(:title,"Sign Up") %>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    <%= form_for(@user, url: signup_path, html: {class: "form-signin"}) do |f|%>
                        <div class="form-label-group">
                            <%= f.text_field :name, class: "form-control", autofocus: true, required: true,placeholder: "Name" %>
                            <%= f.label :name %>
                        </div>

                        <div class="form-label-group">
                            <%= f.email_field :email, class: "form-control", required: true ,placeholder: "Email"%>
                            <%= f.label :email %>
                        </div>
                        
                        <hr>

                        <div class="form-label-group">
                            <%= f.password_field :password, class: "form-control", required: true ,placeholder: "Password" , minlength: 6 %>
                            <%= f.label :password %>
                        </div>
                        
                        <div class="form-label-group">
                            <%= f.password_field :password_confirmation, class: "form-control", required: true ,placeholder: "Password Confirmation" ,minlength: 6%>
                            <%= f.label :password_confirmation %>
                        </div>

                        <%= f.submit "Create Account", class: "btn btn-lg btn-primary btn-block text-uppercase" %>      
                        <hr class="my-4">
                        <center><%= link_to "Have an Account?", "#" ,class: "text-center" %><center>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
