<%= provide(:title,"Profile") %>
<div class="container py-5">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body text-center">
                    <%= render 'shared/profile_pic' %>
                    <b class="lead"><%= @user.name %></b><br>
                    <%= render 'shared/follow_form'  if logged_in?%>
                    <%= render 'shared/follow_status'%>
                    <hr>
                    <h5><%= @user.words_learned %></h5>
                    <span><b>Words Learned </b><i class="far fa-bookmark"></i></span>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header text-uppercase"><small><b>Your Activities</b></small></div>
                <div class="card-body"> 
                    <%= render 'shared/activity_post' %>
                </div>
                <div class="card-footer text-muted">
                    <%= will_paginate @activities %> 
                </div>
            </div>
        </div>
    </div>
</div>