<%= form_for(@category,html: {class: "form-signin"}, method: :patch, url: {action: "update"}) do |f|%>
    <div class="form-label-group">
        <%= f.text_field :title, class: "form-control", required: true, placeholder: "Title" %>
        <%= f.label :title %>
    </div>

    <div class="form-label-group">
        <%= f.text_area :description, class: "form-control", required: true , id:"descriptionBox" ,placeholder:"Description", minlength: 50,maxlength: 150 %>
    </div>
    
    <%= f.submit yield(:button_text), class: "btn btn-lg btn-primary btn-block text-uppercase" %>    
<% end %>  