<%= provide(:title, "Category") %>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xl-12 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-body">
                    <h5 class="card-title">Category List<span class="float-right"><%= link_to "Add Category", new_admin_category_path,  class:"btn btn-info" %></span></h5>
                    <table class="table table-sm">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-2">Title</th>
                                <th class="col-6">Description</th>
                                <th class="col-1"><center>Words</center></th>
                                <th class="col-3"><center>Action</center></th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @categories.each do |category| %>
                            <tr class="d-flex">
                                <td class="col-2"><%= category.title %></td>
                                <td class="col-6"><p id="description"><%= category.description %></p></td>
                                <th class="col-1"><center><%= category.words.count %></center></th>
                                <td class="col-3">
                                    <center>
                                        <%= link_to "Add Word", admin_category_words_path(category), class: "btn btn-primary btn-sm" %>
                                        <%= link_to "Edit", edit_admin_category_path(category), class: "btn btn-outline-warning btn-sm" %>
                                        <%= link_to "Delete", [:admin, category], method: :delete,  class:"btn btn-outline-danger btn-sm", data: { confirm: "You sure?" }  %>
                                    </center>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                    <%= will_paginate @categories %>
                </div>
            </div>
        </div>
    </div>
</div>
