<%= provide(:title, "Category") %>
<div class="container py-5">
    <ul class="nav nav-pills float-right card-header-pills justify-content-end">
        <li class="nav-item nav-link">
           <%= link_to "All", categories_path, class:"nav-link btn btn-outline-info " %>
        </li>
        <li class="nav-item nav-link" >
            <%= link_to "Learned", categories_path(learned:"1"), class:"nav-link btn btn-outline-info" %>
        </li>
        <li class="nav-item nav-link">
            <%= link_to "Not Learned", categories_path(learned:"0"), class:"nav-link btn btn-outline-info" %>
        </li>
    </ul>
    <h1 class="display-4">Category List | <b><%= @categories.count %></b></h1><br>
    <div class="row">
    <% @categories.each do |category| %>
        <div class="col-sm-6">
            <div class="card p-1" style="height:180px">
                <div class="card-body">
                    <% lesson = @user.lesson_taken(category.id) %>
                    <% unless lesson.nil? %>
                        <div class="badge badge-secondary float-right">
                            Scored <%= "#{lesson.score} of #{lesson.answers.count}" %>
                        </div>
                    <%end %>
                    <div class="card-title"><h5><%= category.title %> | [<%= pluralize(category.words.count, "word") %>]</h5></div>
                    <p class="card-text h-25 pb-5"><%= category.description %></p>
                        <% if lesson.nil? %>
                            <%= link_to "Let's Learn!", new_category_lesson_path(category) , class: "btn btn-info btn-block fix-bottom" %>
                        <% else %>                        
                            <%= link_to "Show Result", category_lesson_path(category,@user.lesson_taken(category.id)), class: "btn btn-outline-info btn-block" %>
                        <% end %> 
                    </div>
                 </div>
            </div>
    <% end %>
    </div>
<%= will_paginate @categories %> 
</div>
<script>

</script>