<%= provide(:title, "Category") %>
<br><h1>Category List | <%= @categories.count %></h1><br>
<div class="row">
    <% @categories.each do |category| %>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><center><%= category.title %> | [<%= pluralize(category.words.count, "word") %>]</center></h5>
                    <p class="card-text"><%= category.description %></p>
                    <%= link_to "Let's Learn!", new_category_lesson_path(category) , class: "btn btn-info btn-block" %>
                </div>
            </div>
        </div>
    <% end %>   
</div>
<%= will_paginate @categories %> 


